/* FONT ------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

/* GENERAL ------------------------------------------------------------------------- */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

button {
  font-size: 20px;
  border-radius: 100%;
  border: none;
  color: white;
}

.contentWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.item1 {
  grid-area: gridContainer;
}
.item2 {
  grid-area: buttons;
}
.item3 {
  grid-area: textOutput;
}

.pageContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 50% 35%;
  grid-template-areas:
    "buttons"
    "gridContainer"
    "textOutput";
}

/* GRID ------------------------------------------------------------------------- */
.gridContainer {
  /* border: 2px solid black; */
  height: 320px;
  width: 320px;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(4, 80px);
  font-weight: 800;
  margin: 30px;
}

.gridSquare {
  border-radius: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#fad35d, #f66e1c);
  color: white;
  font-size: 42px;
  text-shadow: -3px -1px 6px rgba(0, 0, 0, 0.566);
  position: relative;
  z-index: 0;
}

.gridSquare:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  border-radius: 10px;
  background: linear-gradient(#f5515e, #a00a1e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gridSquare.notSelectable {
  opacity: 0.8;
  pointer-events: none;
}

.gridSquare.selected {
  border: none;
  pointer-events: none;
}

.gridSquare.selected.valid {
  background: linear-gradient(#b0e84f, #459521);
}

.gridSquare.selected:before {
  padding: 0px;
}

.gridSquare.selected.invalid {
  background: linear-gradient(#ee4a59, #a0071d);
}

/* BUTTONS CONTAINER ------------------------------------------------------------------- */
.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* CLEAR BUTTON ------------------------------------------------------------------- */
.clearContainer,
.newGameContainer {
  color: #d8d8d8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.clearContainer button {
  padding: 5px 4px 0 5px;
  background: #d8d8d8;
}

.clearContainer button:hover {
  background: #aeaeae;
}

.clearContainer button.disabled {
  pointer-events: none;
}

/* NEW GAME BUTTON ---------------------------------------------------------------- */
.newGameContainer {
  color: #e7d1e4;
}
.newGameContainer button {
  padding: 5px 4px 0 5px;
  background: #e7d1e4;
}

/* OUTPUT ------------------------------------------------------------------------- */
.outputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-left: 30px;
  border: 3px solid #a4a4a4;
  width: 75vw;
  height: 80px;
  padding: 0 15px;
}

.outputContainer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  border: none;
  font-size: 30px;
  color: #d1001b;
  letter-spacing: 7px;
  margin-right: 0;
}

p.valid {
  color: #7ed320;
}

p.invalid {
  color: #d1001b;
}

span {
  font-size: 20px;
}

span.valid {
  color: #d2e0c6;
}

span.invalid {
  color: #f4c8cd;
}

/* MEDIA QUERIES ------------------------------------------------------------------*/
/* For screens larger than mobile */
@media only screen and (min-width: 800px) {
  .contentWrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .pageContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "gridContainer buttons"
      "gridContainer textOutput";
  }

  .gridContainer {
    margin: 0;
    margin-right: 50px;
    height: 460px;
    width: 460px;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(4, 120px);
  }

  .gridSquare {
    height: 100px;
    width: 100px;
  }

  .buttonsDiv {
    padding-top: 25px;
  }

  .clearContainer {
    align-items: flex-start;
  }

  .outputContainer {
    height: 80px;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    width: 80%;
    margin-top: 140px;
    margin-left: 30px;
  }

  .outputContainer p {
    font-weight: 800;
    width: 360px;
    font-size: 40px;
  }

  span {
    font-size: 26px;
  }

  button {
    font-size: 30px;
  }
}
