/* FONT ------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");
/* GENERAL ------------------------------------------------------------------------- */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.contentWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.item1 {
  grid-area: gridContainer;
}

.item2 {
  grid-area: clearButton;
}

.item3 {
  grid-area: textOutput;
}

.pageContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas:
    "clearButton"
    "gridContainer"
    "textOutput";
}

/* GRID ------------------------------------------------------------------------- */
.gridContainer {
  /* border: 2px solid black; */
  height: 460px;
  width: 460px;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: repeat(4, 120px);
  font-weight: 800;
}

.gridSquare {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#fad35d, #f66e1c);
  color: white;
  font-size: 42px;
  text-shadow: -3px -1px 6px rgba(0, 0, 0, 0.566);
  position: relative;
  z-index: 0;
}

.gridSquare:before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 3px;
  border-radius: 10px;
  background: linear-gradient(#f5515e, #a00a1e);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.gridSquare.notSelectable {
  opacity: 0.8;
  pointer-events: none;
}

.gridSquare.selected {
  border: none;
  pointer-events: none;
}

.gridSquare.selected.valid {
  background: linear-gradient(#b0e84f, #459521);
}

.gridSquare.selected:before {
  padding: 0px;
}

.gridSquare.selected.invalid {
  background: linear-gradient(#ee4a59, #a0071d);
}

/* CLEAR BUTTON ------------------------------------------------------------------- */
.clearContainer {
  color: #d8d8d8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.clearContainer button {
  padding: 7px 14px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
  color: white;
  background: #d8d8d8;
}

.clearContainer button:hover {
  background: #aeaeae;
}

.clearContainer button.disabled {
  pointer-events: none;
}

/* OUTPUT ------------------------------------------------------------------------- */
.outputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outputContainer form {
  width: 460px;
  border: 3px solid #a4a4a4;
  padding: 10px 0px 10px 20px;
}

.outputContainer input {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;

  width: 360px;
  height: 80px;
  border: none;
  font-size: 40px;
  /* padding-left: 30px; */
  color: #d1001b;
  letter-spacing: 7px;
}

.outputContainer input:selected {
  border: none;
}

.outputContainer input:focus {
  outline: none;
}

input.valid {
  color: #7ed320;
}

input.invalid {
  color: #d1001b;
}

span {
  font-size: 26px;
}

span.valid {
  color: #d2e0c6;
}

span.invalid {
  color: #f4c8cd;
}

/* MEDIA QUERIES ------------------------------------------------------------------*/
@media only screen and (min-width: 800px) {
  .contentWrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pageContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "gridContainer clearButton"
      "gridContainer textOutput";
  }

  .gridContainer {
    margin-right: 50px;
  }

  .clearContainer {
    height: 100%;
    align-items: flex-start;
  }

  .outputContainer {
    height: 100%;
    align-items: flex-end;
  }
}
